/*@import "https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";*/
*{
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
  
}
.metro{
  color: white;
  /*position: absolute;*/
}
.item{
  width: 100px;
  height: 100px;
  float: left;
  margin: 4px;
  cursor: pointer;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  transition: 0.4s;
}
.item:hover{
  transform: scale(0.9);
}
.item i{
  font-size: 36px;
  line-height: 90px;
  opacity: 0.8;
}
.item span{
  opacity: 0.8;
  position: absolute;
  bottom: 6px;
  left: 6px;
  font-size: 15px;
}
.i1{
  background: #2E9A73;
}

.i2{
  background: #0E5155;
  width: 208px;
}

.i3{
  background: #0E5155;
}

.i4{
  background: #2E9A73;
}

.i5{
  background: #FFC20E;
}

/*MENU CLIC DERECHO*/
#rmenu ul{
  list-style: none;
  list-style-type: none;
  list-style-position: outside;
  padding: 0;
  margin: 0;
}

#rmenu li{
  padding-left: 10px;
  line-height: 30px;
  font-size: 16px;
  cursor:pointer;
}
#rmenu li:hover{
  background-color: #2E9A73;
}

#rmenu{
  width:200px;
  position:fixed;
  background-color: #0E5155;
  color: white;
  border: 1px solid white;
}