.fila:hover{
    background-color:#0E5155;
    color: white;
}
.nav-ae .active{
    background-color:#FFC20E;
    color: #0E5155;
    border:none;
    font-weight: Bold;
}
.nav-ae a{
    color: white;
    border-color: white;
    border: solid 0.9px;
    background-color:#0E5155;
    border-radius: 5px;
}
.nav-ae a:hover{
    color: white;
    border-color: white;
    border: solid 0.9px;
    background-color:#2E9A73;
    border-radius: 5px;
}
.breadcrumb{
    background-color: #0E5155;
}
.breadcrumb .active{
    color:white;
}
.breadcrumb a{
    
    color: #FFC20E;
    text-decoration: none;
}
#content{
    background-color:#F4F4F4;
}
.card-secondary{
    background-color:white;
    border: 0;
}
.card-secondary a .card-body{
    color: #2E9A73;
}
.card-secondary i{
    color: #0E5155;
}
.barrasuperior{
    background-color: white;
}
.sticky-footer{
    background-color:white;
}
.font-12{
    font-size: 12px;
}